@mixin Clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerpos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// media query mannager

// 0 - 600px:   phone

// 600 - 900px:   tablet portrait

// 900 - 1200px:   tablet landscape

// 1200 - 1800px:   normal is where our normal style apply

// 1800 -:   big desktop

/*  
$breakpoint arguement choice: 
-- phone
- tap-port
-tap- land
-big-desktop

$breakpoint: base + typography > genral layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content; //  600px
    }
  }

  @if $breakpoint == tap-port {
    @media only screen and (max-width: 56.25em) {
      @content; // 900px
    }
  }

  @if $breakpoint == tap-land {
    @media only screen and (max-width: 75em) {
      @content; // 1200px
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content; // 1800px
    }
  }
}
