.section-about {
  background-color: $color-grey-ligh;
  padding: 25rem 0;
  margin-top: -20rem;
  @include respond(tap-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 25rem 0;
  margin-top: -9rem;
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
  @include respond(tap-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-ligh;
  padding: 25rem 0 50rem 0;
  margin-top: -9rem;

  @include respond(tap-port) {
    padding: 20rem 0 10rem;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  // background-color: $color-grey-ligh;
  @include respond(tap-port) {
    padding: 10rem 0;
  }
}
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  @include respond(tap-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image:
    linear-gradient(
      105deg,
      rgba($color-whitt, 0.9) 0%,
      rgba($color-whitt, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10-small.jpg);
  background-size: 100%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  border-radius: 3px;

  @media (min-resolution: 192dpi) and (min-width: 37.5rem), (min-width: 125em) {
    background-image:
      linear-gradient(
        105deg,
        rgba($color-primary-light, 0.9) 0%,
        rgba($color-primary-dark, 0.9) 50%,
        transparent 50%
      ),
      url(../img/nat-10.jpg);
  }

  @include respond(tap-land) {
    background-image:
      linear-gradient(
        105deg,
        rgba($color-whitt, 0.9) 0%,
        rgba($color-whitt, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }
  @include respond(tap-port) {
    background-image: linear-gradient(
      to right,
      rgba($color-whitt, 0.9) 0%,
      rgba($color-whitt, 0.9) 100%,
      transparent 100%
    );
    background-size: cover;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tap-land) {
      width: 65%;
    }
    @include respond(tap-port) {
      width: 100%;
    }
  }
}
